

<div class="table-responsive-vertical md-whiteframe-z1">
    <table id="table" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Issue</th>
            
            <th>year</th>
            <th>label_pie</th>
            <th>value_pie</th>
            <th>x-bar</th>
            <th>y-bar</th>
            <th>Status</th>
            <th>Progress</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in vm.tableData track by $index">
            <td data-title="ID">{{$index + 1}}</td>
            <td data-title="Issue">{{data.issue}}</td>
            <td data-title="Status">{{data.year}}</td>
            <td data-title="Status">{{data.label_pie}}</td>
            <td data-title="Status">{{data.value_pie}}</td>
            <td data-title="Status">{{data.x_bar}}</td>
            <td data-title="Status">{{data.y_bar}}</td>
            <td data-title="Status">{{data.status}}</td>
          
            <td data-title="Progress">
                <md-progress-linear class="table-progress {{data.class}}"
                                    md-mode="determinate"
                                    value={{data.progress}}>
                </md-progress-linear>
            </td>
        </tr>
        </tbody>
    </table>
</div>
